.logoutButtonContainer {
    /* background: blu!; */
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutButton {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 5px;
    color: #111;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px

}

.logoutButton:hover {
    color: antiquewhite;
    background-color: #d4d4d4;
    font-weight: bold;
}